<section class="bio container page">
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  <div class="bio-body">
    <img src="/img/headshot-square.jpg" class="avatar"/>
    <p>I've been building things on the internet for more than a decade. I am fascinated by the way technology either helps or hinders ordinary people from solving real problems they face. I am especially interested in small communities and how they use technology to tell their own stories and make their communities stronger. I would love to hear about your project – let's chat!</p>
  </div>
</section>
