<section class="work container page">
  <h2>Folks I've Worked With</h2>
  <img class=logo src="/img/logos/att.png" />
  <img class=logo src="/img/logos/caa.png" />
  <img class=logo src="/img/logos/cgcc.png" />
  <!--<img class=logo src="/img/logos/netflix.png" />-->
  <img class=logo src="/img/logos/dw2.png" />
  <img class=logo src="/img/logos/flatiron.png" />
  <!--<img class=logo src="/img/logos/google.jpg" />-->
  <img class=logo src="/img/logos/microsoft.png" />
  <img class=logo src="/img/logos/npm.png" />
  <img class=logo src="/img/logos/walmart.png" />
  <img class=logo src="/img/logos/wildland.png" />
  <img class=logo src="/img/logos/yet.png" />
</section>
