/* minesweeper.css */

html, body {
   margin: 0;
   padding: 0;
}

body {
   font-size: 1em;
   font-family: Courier, monospace;
   color: rgb(51, 255, 58);
   padding: 1em;
   margin: 0 auto;
   max-width: 417px;
   background-color: black;
}

.hide {
   display: none;
}

.invisible {
   visibility: hidden;
}

.ajax-loading {
   display: inline-block;
   padding-left: 1em;
}

h1 {
   margin: 0 0 0.3em 0;
}

.gh { float: right; }

.board-wrap {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   cursor: default;
   background-size: cover;
   width: 415px;
   padding-bottom: 1px;
}

.board-wrap .row {
   padding: 0.5px;
   margin: 0;
   height: 45px;
}

.board-wrap .row .cell {
   list-style: none;
   padding: 0;
   margin: -0.5px;
   display: inline-block;
   width: 45px;
   height: 45px;
   border: 1px solid rgb(51, 255, 58);
   vertical-align: middle;
   text-align: center;
   line-height: 48px;
   font-weight: bold;
}

.board-wrap .row li:hover {
   background-color: rgba(222, 230, 237, 0.44);
}

.board-wrap .row li.open:hover, 
.board-wrap .row li.number:hover {
   background: none;
}

.board-wrap .row .cell.open {
}

.board-wrap .row .cell.number,
.board-wrap .row .cell.open {
   border: none;
   padding: 1px;
}

.board-wrap .row .cell.number {
   
}

.board-wrap .row .cell.flagged {
   color: red;
}

.board-wrap .row .cell.question {
   color: lightblue;
}

.board-wrap .row .cell.explode {
   color: red;
   font-size: 61px;
}

.board-wrap .cell.unknown:active {
   border-style: inset;
}

.cell.blown {
   color: rgb(255, 58, 51);
   background: rgba(255, 255, 255, .5);
}

.cell.unblown {
   color: black;
   opacity: 0.9;
}

.cell[data-number="1"] {
   color: rgb(51, 248, 255); /* BLUE */
}
.cell[data-number="2"] {
   color: rgb(51, 255, 58); /* GREEN */
}
.cell[data-number="3"] {
   color: rgb(255, 58, 51); /* RED */
}
.cell[data-number="4"] {
   color: rgb(255, 58, 51); /* RED */
}
.cell[data-number="5"] {
   color: rgb(255, 58, 51); /* RED */
}

.game_settings, .game_actions, .game_status {
   margin: 10px 0;
}


.cell.unknown.unblown, .icon.flag.unblown {
    border: 1px solid transparent;
}

.icon.blown:after {
    content: "✺";
}

.icon.blown.unknown:after {
    content: "⚑";
}

.icon.flag:after {
   content: "⚑";
}

.icon.flag.unblown:after {
   content: "X";
}

.icon.help:after {
   content: "?";
}

.won_alert {
   text-align: center;
   font-size: 70px;
   display: none;
}

button {
   font-family: Courier, monospace;
   color: rgb(51, 255, 58);
   background-color: #aaa;
   display: inline-block;
}

.instructions {
   display: inline-block;
   float: right;
   font-size: 10px;
   margin: 0px;
   padding: 0px;
}
